p, .content b {
    margin-bottom: 1.2rem;
}

.content ul, .content ol {
    padding-left: 20px;
}

.content ul.small-line-height li, .content ol.small-line-height li{
    /*line-height: 1.2rem;*/
    margin-bottom: 5px;
}

.content p + ol, .content p + ul {
    margin-top: -1rem;
}

.content li {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.7rem;
}

.content li ul {
    margin-top: 10px;
}

.content h2, .content .h2 {
    margin: 30px 0 10px 0;
    font-weight: bold;
}


.blockquote {
    position: relative;
    padding: 5px 45px;
    margin: 0 0 15px;
    text-align: center;
    background: #ffbe0b;
    font-style: italic;
    border-radius: 12px;
}

.blockquote span{
    font-weight: bold;
}

.blockquote:before {
    content: '“';
    left: 10px;
}

.blockquote:after {
    content: '”';
    right: 10px;
    bottom: -10px;
}

.blockquote:before, .blockquote:after {
    position: absolute;
    color: #BFE2FF;
    font-size: 3em;
    font-style: normal;
}

.post-nav{
    margin-top: 10px;
}

.post-img {
    max-width: 100%;
    display: block;
    margin-bottom: 10px !important;
}

.content table {
    margin: auto auto 15px;
}


.post-info .date-pub {
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.post-info .unique {
    background: #ff006e;
    padding: 4px 8px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.post .post-info {
    margin-bottom: 15px;
}

.post-info .unique:before {
    content: attr(data-text);
}


