:root {
    --main-text-color: #292929;
    --main-color: #8338ec;
    --second-color: #3a86ff;
    /*#ff006e;*/
    /*#fb5607;*/
    /*#ffbe0b;*/
}

html {
    scroll-behavior: smooth;
}
* {padding: 0;margin: 0;}
div, p, h1, h2, .h2, h3, h4, h5, h6, span, small, li, a, b,i,strong, li, table {
    font-family: 'Arsenal', sans-serif;
    color: #292929;
}

a {
    color: #3a86ff;
}

h1{
    font-size: 1.7em;
}

h2, .h2 {
    font-size: 1.5em;
}

img{
    max-width: 100%;
    height: auto;
}

p{
    font-size: 1.1em;
    line-height: 1.7rem;
}

h1 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 1.1rem;
    text-align: left;
}

table th {
    background-color: #8338ec;
    color: #fff;
    font-weight: 600;
}

table tr:nth-child(even) {
    background-color: #f4faff;
}


#toTopButton{
    max-width: 48px;
    position: fixed;
    right: 19px;
    bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    opacity: 0.6;
    display: none;
    z-index: 1;
}

#toTopButton:hover {
    opacity: 1;
}

@media screen and (max-width: 992px) {
    #toTopButton {
        max-width: 38px;
        bottom: 75px;
    }
}

.container{width: 1023px; margin: auto; max-width: 100%;}
.container-2 {width: 800px; margin: auto; max-width: 100%;}

.content-wrap {
    display: flex;
    gap: 12px;
}

@media screen and (max-width: 992px) {
    .container{width: calc(100% - 30px);}
    .container-2 {width: calc(100% - 30px);}

    .content-wrap {
        display: block;
    }
}
