html {
    scroll-behavior: smooth;
}
*{padding: 0;margin: 0;}
body{padding-bottom: 50px}
div, p, h1, h2, .h2, h3, h4, h5, h6, span, small, li, a, b,i,strong, li, table {
    font-family: 'Arsenal', sans-serif;
    color: #292929;
}

h1{
    font-size: 1.7em;
}

h2, .h2 {
    font-size: 1.5em;
}

img{
    max-width: 100%;
    height: auto;
}

p{
    font-size: 1.1em;
    line-height: 1.7rem;
}

h1{
    margin-bottom: 15px;
}

/*table, th, td {*/
/*    border: 1px solid black;*/
/*}*/

/*td {*/
/*    padding: 3px;*/
/*}*/

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 1.1rem;
    text-align: left;
}

table th {
    background-color: #974cd1;
    color: #fff;
    font-weight: 600;
}

table tr:nth-child(even) {
    background-color: #f4faff;
}


#toTopButton{
    max-width: 48px;
    position: fixed;
    right: 19px;
    bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-out;
    opacity: 0.6;
    display: none;
}

#toTopButton:hover {
    opacity: 1;
}


footer{
    margin: 45px 0 15px;
    text-align: center;
}

footer a{
    color: #807d82;
    margin: 0 5px;
}




