.menu{
    background: #8338ec;
}
.menu-ul{
    list-style-type: none;
    padding: 23px 0;
    margin: 0;
}
.menu-li{
    display: inline-block;
    padding: 0;
    margin: 0 20px;
}

.menu-ul .menu-li:first-child {
    margin-left: 0;
}

.right-item-menu{
    float: right;

}

.mob-menu-label{
    display: none;
}

.menu-a{
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
}

.menu-li.active{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.first-word{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    background: rgba(79, 20, 126, 0.46);
    margin-right: 2px;
}

.link-to-home:before {
    content: '';
    background: url("/themes/v3/images/index/logo.svg");
    width: 32px;
    height: 32px;
    z-index: 1;
}

.show{
    display: block !important;
}
nav ul.show{
    position: absolute;
    background: #8338ec;
    width: 100%;
    z-index: 1;
    left: 0;
}


@media screen and (max-width: 768px){
    .mob-menu-label{
        display: block;
        text-align: right;
        padding: 1em;
        color: #fff;
        cursor: pointer;
    }

    .menu-ul{
        display: none;
    }
    .menu-li{
        display: block;
        text-align: center;
        line-height: 2em;
    }
}
