
.bookshelf-wrap {
    margin: auto;
    display: table;
    padding: 10px;
    background: url(/themes/v3/images/library/wood-border.webp);
}



.bookshelf {
    width: 510px;
    background: url("/themes/v3/images/library/wood-bg.webp");
}

.shelf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    position: relative;
    padding: 5px 0 0;
    align-items: flex-end;
}


.book{
    width: 25px;
    height: 110px;
    background: #00c4a7;
    margin-right: 1px;
    display: inline-block;
    margin-bottom: 15px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 2px 2px 5px #6b5454;

}

.book:before{
    content: 'Какая-то книга';
    color: #fff;
    transform: rotate(-90deg);
    display: block;
    position: absolute;
    z-index: 311;
    width: 110px;
    height: 25px;
    margin-left: -38px;
    margin-top: 21px;
    font-size: 10px;
}

.book:nth-child(3n){
    height: 100px;
}
.book:nth-child(8n){
    height: 90px;
}
.book:nth-child(7n){
    height: 95px;
}

.book:nth-child(5n){
    width: 21px;
}
.book:nth-child(11n){
    width: 22px;
}
.book:nth-child(16n){
    width: 30px;
}


.book:nth-child(14n):after {
    position: absolute;
    width: 100%;
    height: 10px;
    background: url(/themes/v3/images/library/wood-border.webp);
    content: '';
    left: 0;
    margin-top: 95px;
}

.shelf:after{
    position: absolute;
    width: 100%;
    height: 15px;
    background: url(/themes/v3/images/library/wood-border.webp);
    content: '';
    left: 0;
    bottom: 0;
}

.book:nth-child(15):after{
    /*display: none;*/
}

.book:hover{
    cursor: pointer;
    background: #8338ec !important;
}


@media screen and (max-width: 768px){
    .bookshelf {
        width: 310px;
    }

    .book:nth-child(13n):after {
        display: none;
    }

    .book:nth-child(11n):after {
        position: absolute;
        width: 100%;
        height: 10px;
        background: url(/themes/v3/images/library/wood-border.webp);
        content: '';
        left: 0;
        margin-top: 111px;
    }

    .book:nth-child(4n){
        height: 100px;
    }
    .book:nth-child(3n){
        height: 110px;
    }

}