/*.movies-table td{*/
/*    padding: 5px;*/
/*}*/
.row0 {
    text-align: center;
}


.rating-5{background: #18891d !important;}
.rating-4{background: #92C83E !important;}
.rating-3{background: #f1f130 !important;}
.rating-2{background: #ef7985 !important;}
.rating-x{background: #d8d8d8 !important;}

@media screen and (max-width: 640px) {
    /*.movies-table td{*/
    /*    padding: 2px;*/
    /*    font-size: 0.9em;*/
    /*}*/
    .movies-table tr td:first-child{
        max-width: 165px;
    }

}