.podcasts-table td{
    padding: 5px;
}

.source-name{
    display: block;
    height: 50px
}
.source-icon{
    display: inline-block;
    margin: auto;
}

table .link {
    width: 24px;
    height: 24px;
    background: url('/images/blog/2021/podcasts/link-32x32.png') no-repeat;
    background-size: contain;
    display: inline-block;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .podcasts-table td{
        padding: 2px;
        font-size: 0.9em;
    }
    .podcasts-table tr td:first-child{
        max-width: 165px;
    }
    .source-name{
        display: none;
    }
}