body{background: url('/themes/v3/images/index/background.jpg') no-repeat fixed center center;background-size: cover;}

.modules-wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    max-height: 480px;
    width: 100%;
    flex-direction: row;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
}

.item {
    width: 150px;
    height: 150px;
    background: #fff;
    margin: 1px;
    border-radius: 10px;
    border: solid 3px #8338ec;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #8338ec;
    text-decoration: none;
    text-align: center;
}

.purple{background: #8338ec; color: #fff; border-color: #8338ec}
.purple h1 {
    font-size: 0.8rem;
    font-weight: 500;
    color: white;
    text-align: center;
}
.disable{background: #fff;  border-color: #d9d9d9; cursor: default !important; color: #bbb}


.item:not(.purple):hover{
    transform: rotate(360deg);
    transition:all 400ms ease;
    border-radius: 50%;
    cursor: pointer;
}

.icon-big {
    width: 64px;
    height: 64px;
}

.icon {
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
}

.icon-man{background: url("/themes/v3/images/index/man.svg") no-repeat center; background-size: contain}
.icon-blog{background: url("/themes/v3/images/index/blog.svg") no-repeat center; background-size: contain}
.icon-portfolio{background: url("/themes/v3/images/index/promotion.svg") no-repeat center; background-size: contain}
.icon-travel{background: url("/themes/v3/images/index/around.svg") no-repeat center; background-size: contain}
.icon-projects{background: url("/themes/v3/images/index/project-management.svg") no-repeat center; background-size: contain}
.icon-library{background: url("/themes/v3/images/index/books.svg") no-repeat center; background-size: contain}
.icon-stats{background: url("/themes/v3/images/index/bar-chart.svg") no-repeat center; background-size: contain}
.icon-web{background: url("/themes/v3/images/index/web.svg") no-repeat center; background-size: contain}
.icon-site{background: url("/themes/v3/images/index/logo-white.png") no-repeat center; background-size: contain}
.icon-lock{background: url("/themes/v3/images/index/lock-2.svg") no-repeat center; background-size: contain}




@media screen and (max-width: 768px){
    .modules-wrap{
        max-width: 315px;
        max-height: 315px;

    }
    .item{
        width: 97px;
        height: 97px;

    }
}



/*starts lightning effect css*/
.lightning-effect {
    position: relative;
    overflow: hidden;

}
.lightning-effect:before {
    content: "";
    width: 50px;
    position: absolute;
    top: 0;
    left: -50px;
    bottom: 0;
    z-index: 9;
    background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgba(255, 255, 255, 0.2)),
            color-stop(50%, #fff),
            to(rgba(255, 255, 255, 0.2))
    );
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.2) 0%,
            #fff 50%,
            rgba(255, 255, 255, 0.2) 100%
    );
}
/*Hover*/
.lightning-effect:hover:before {
    -webkit-animation: lightning-effect 1s infinite ease-in-out;
    animation: lightning-effect 1s infinite ease-in-out;
}
/*Keyframes*/
@-webkit-keyframes lightning-effect {
    0% {
        left: -50px;
        background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(255, 255, 255, 0.2)),
                color-stop(50%, #afa),
                to(rgba(255, 255, 255, 0.2))
        );
        background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.2) 0%,
                #fff 50%,
                rgba(255, 255, 255, 0.2) 100%
        );
    }
    50% {
        left: 100%;
    }
    to {
        left: -50px;
        background: 0 0;
    }
}
@keyframes lightning-effect {
    0% {
        left: -50px;
        background: -webkit-gradient(
                linear,
                left top,
                right top,
                from(rgba(255, 255, 255, 0.2)),
                color-stop(50%, #afa),
                to(rgba(255, 255, 255, 0.2))
        );
        background: linear-gradient(
                to right,
                rgba(255, 255, 255, 0.2) 0%,
                #fff 50%,
                rgba(255, 255, 255, 0.2) 100%
        );
    }
    50% {
        left: 100%;
    }
    to {
        left: -50px;
        background: 0 0;
    }
}
/*ends lightning effect css*/