*{padding: 0;margin: 0;border: 0;}
body{background: url(../img/bg.jpg);}
.table-wrap{background: #ECECEC;margin: auto;position: fixed;top: 5%;bottom: 5%;left: 5%;right: 5%;padding: 10px;overflow: auto;}
.table-wrap thead tr td{padding: 15px;    background: #974cd1;color: #fff;}
.table-wrap tbody tr td{padding: 15px;background: #fff;}
.progress-bar{position: relative;background: #1e5799;color: #000;border: 1px solid #000;text-align: center;min-width: 150px;
    background: -moz-linear-gradient(left,  #1e5799 0%, #f73022 100%);
    background: -webkit-linear-gradient(left,  #1e5799 0%,#f73022 100%);
    background: linear-gradient(to right,  #1e5799 0%,#f73022 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#f73022',GradientType=1 )}
.progress-bar span{position: absolute;display: inline-block;height: 100%;background: #fff;top: 0;right: 0;z-index: 1;}
.progress-bar b{position: relative;z-index: 2;}
.warning{padding: 15px;background: rgb(224, 215, 215);font-style: italic;font-size: 16px;border: 2px solid #ECECEC;position: relative;margin-bottom: 30px;}
.close-w{position: absolute;right: 8px;top: -3px;color: #D05151;font-family: cursive;font-size: 21px;cursor: pointer;}
.form-wrap{position: absolute;width: 500px;height: 125px;left: 0;right: 0;top: 0;bottom: 0;margin: auto;background: #fff;}
p.msg{background: #974cd1;color: #fff;padding: 10px 12px;font-family: fantasy;text-align: center;text-shadow: 1px 1px #000;}
form{padding: 15px;}
input{padding: 10px;border: 1px solid #4A8196;font-size: 14px;width: 339px;}
button{font-size: 14px;padding: 11px;background: #4A8196;color: #fff;cursor: pointer;margin-left: 11px;}
@media screen and (max-width: 768px){
    .form-wrap{width: 300px;height: inherit;position: relative;margin-top: 50px;}
    input{width: 248px;}
    button {margin-left: 0;width: 100%;margin-top: 10px;}
    .table-wrap table tr td{padding: 5px;}
    .table-wrap table tr td, .table-wrap table tr td p, .table-wrap table tr a{font-size: 10px;}
}
@media screen and (max-width: 400px){
    .form-wrap {width: 240px;}
    input{width: 188px;}
    button {margin-left: 0;width: 100%;margin-top: 10px;}
}
